@import 'styles/variables';
@import 'styles/mixins';

// Plugins CSS
@import "styles/plugins/plugin-bootstrap-switch";
@import "styles/plugins/plugin-nouislider";
@import "styles/plugins/plugin-datepicker";

// Core CSS
@import "styles/buttons";
@import "styles/inputs";
@import "styles/checkboxes-radio";
@import "styles/progress";
@import "styles/badges";
@import "styles/pagination";
@import "styles/typography";
@import "styles/misc";
@import "styles/pills";

// components
@import "styles/social-buttons";
@import "styles/tabs";
@import "styles/navbar";
@import "styles/dropdown";
@import "styles/alerts";
@import "styles/images";
@import "styles/popups";
@import "styles/nucleo-outline";
@import "styles/modals";
@import "styles/carousel";
@import "styles/cards";
@import "styles/footers";
@import "styles/snackbar";

// example pages and sections
@import "styles/example-pages";
@import "styles/sections";


@import "styles/responsive";

/* Importing Bootstrap SCSS file. */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --bg: #fdfdfd;
    --highlight1: #ED4264;
    --highlight2: #FFEDBC;
    --color: #1a1e24;
    --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    --font-head: "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.list {
    list-style: none;
    margin: auto;
    max-width: 90%;
}

.headline {
    padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
    font: normal 2rem var(--font-head);
}

.section__wrapper {
    margin: auto;
}

.section__wrapper--filter {
    position: relative;
}

.section__wrapper .section__description {
    font-size: 18px;
    padding: 10px 0;
}

.section__wrapper--small {
    margin: auto;
}

.container--timeline .line {
    height: 0px;
    width: 1px;
    border-bottom: 1px solid #000;
    -webkit-animation: increase 1.2s cubic-bezier(0.2, 0.6, 0, 1) forwards;
    animation: increase 1.2s cubic-bezier(0.2, 0.6, 0, 1) forwards;
    display: block;
    position: relative;
    bottom: 41px;
}

@-webkit-keyframes increase {
    100% {
        width: 100%;
    }
}

@keyframes increase {
    100% {
        width: 100%;
    }
}

.container--timeline .timeline {
    padding-bottom: 80px;
}

.container--timeline .timeline ul {
    position: relative;
}

.container--timeline .timeline ul li {
    list-style: none;
    height: 270px;
}

.container--timeline .timeline ul li:last-child {
    margin-bottom: 50px;
}

.container--timeline .timeline ul li .section__subtitle {
    font-size: 24px;
    margin: 2px 0 13px 0;
    line-height: 36px;
}

.container--timeline .timeline ul li .dot {
    background-color: #000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-bottom: 31px;
}

.container--timeline .timeline ul li .description {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
}

.services__timeline__description {
    font-size: 19px;
    line-height: 25px;
    max-width: 400px;
}

.section__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
}

.section__header p {
    font-size: 14px;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.mat-dialog-container {
    padding: 0px !important;
    border-radius: 30px !important;
}

.message-us {
    min-width: 320px;
    height: 720px;
    overflow: hidden;
}
